.input-wrap {
	$color: grey;

	display: inline-flex;

	background-color: white;
	border: 1px solid $color;
	box-shadow: 0px 0px 3px $color inset;

	&.border-round {
		border-radius: 5px;
	}

	&.border-circle {
		border-radius: 100px;
	}

	&.color-primary {
		$color: dodgerblue;
		border: 1px solid $color;
		box-shadow: 0px 0px 3px $color inset;
	}

	&.color-submit {
		$color: limegreen;
		border: 1px solid $color;
		box-shadow: 0px 0px 3px $color inset;
	}

	&.color-warn {
		$color: orange;
		border: 1px solid $color;
		box-shadow: 0px 0px 3px $color inset;
	}

	&.color-error {
		$color: crimson;
		border: 1px solid $color;
		box-shadow: 0px 0px 3px $color inset;
	}

	&.required-true {
		background-color: rgb(217, 241, 252);
	}

	&.disabled-true {
		background-color: #EEEEEE;
	}
}

.input {
	background-color: transparent;
	border: transparent;
	padding: 5px 0px 5px 10px;

	font-family: inherit;

	&:focus {
		outline: none;
	}
}

.button {
	display: flex;
	align-items: center;

	background: transparent;
	border: transparent;
	color: grey;

	cursor: pointer;

	transition: 0.3s;

	&:disabled {
		opacity: 0;
		cursor: initial;
	}
}